/* app css stylesheet */

body {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  position: relative;
  background-color: #d6d5d4;
}

/* Header */

.header {
  display: inline-block;
  float: left;
  width: 20%;
  height: 100%;
  padding-left: 15px;
}

.header.h1 {
  font-weight: 400;
}

.footer {
  position: absolute;
  bottom: 0;
}

chart {
  height: 100%;
  width: 100%;
}

.axis text {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 9px;
}

.x.axis text {
  text-anchor: end !important;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: #478497;
  fill-opacity: .9;
}

.x.axis path {
  display: none;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}


