/* app css stylesheet */

body {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  position: relative;
  background-color: #eaebf8;
}

/* Header */
.sidebar {
  display: inline-block;
  float: left;
  width: 20%;
  height: 100%;
  padding-left: 1%;
  padding-top: 1%;
  min-width: 184px;
  font-size: 1em;
}

.logo-container {
  width: 100%;
}

.footer {
  position: fixed;
  bottom: 1%;
}

.navyblue {
  color: #181c49;
}

/* Graph */
.chart-container {
  display: inline-block;
  width: 75%;
  margin-top: 3%;
}

.axis text {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 0.8em;
  color: #181c49;
}

.x.axis text {
  text-anchor: end !important;
}

line.horizontalGrid {
  fill: none;
  shape-rendering: crispEdges;
  stroke : #c2c2c2;
  stroke-width : 1px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: #478497;
  fill-opacity: .9;
}

.x.axis path {
  display: none;
}

.btn.btn-default {
  color: #181c49;
}

/* Controls */
.controls {
  margin-top: 18%;
  color: #181c49;
}
.controls form {
  padding: 10px;
}

.controls form input {
  margin-right: 5px;
}

