<div class="text">
    <div class="lbl">seeing the 'elephant'</div> 
    <p>
        The 46th spent the winter guarding various locations along the C&O Canal in Western Maryland, but combat  — or "seeing the elephant" — wouldn't elude them for long. In early spring, the regiment followed a soon-to-be-familiar rival, General Stonewall Jackson and his troops, into Virginia.
    </p>
    <p>
        On May 25th, after months of pursuit and skirmishes up and down the Shenandoah Valley, about 6,500 Union and 16,000 Confederate troops clashed outside of Winchester, Virginia. The 46th and Company D performed well during their first real taste of combat.
    </p>
    <p>
        <blockquote>
            ... a terrible volley was poured in upon us from behind a stone wall some fifty yards off and we immediately received the order to form into line, when so terrible was the fire that a scene of confusion ensued and the regiment gave way. At this juncture, fearing the consequences of a retreat, I detached my company from the regiment... and advanced toward the enemy to within twenty-five yards, drove them slowly back holding our position until the regiment reformed and came to our assistance. When making a charge bayonet we took the wall driving them back with terrible slaughter <a id="footnote-4-ref" href="#footnote-4" title="link to footnote">[4]</a>.
            <footer>Captain George A. Brooks.
                <cite title="Source Title">Commander of Company D, 46th Pennsylvania.</cite>
            </footer>
         </blockquote>
    </p>
    <p>
        Ultimately, the badly outnumbered Union forces were overpowered, and retreated through the town. Around 2,000 Union soliders lost their lives, and in the haste to retreat to the safety of Maryland to the north, many left behind their knapsacks which contained equipment and personal items. In the days that followed, lists of missing equipment were drawn up for each Company, including D. Created for each Mess and discovered in Captain Brooks' personal correspondence 150 years later, they offer an incredibly rare look at the men who formed the messes.   
    </p>
    <div class="row">
        <img class="picture" src="img/mess_1.jpg"/>
        <div class="picture-caption">Missing equipment list for Mess No. 1, created after the First Battle of Winchester on May 25th, 1862. Soldiers Thomas Lyne, Cyrus Liddick, James Shannon, and Edward Wells are visible, along with equipment items like "gun", "shoes", "blankets", and perhaps most importantly, "drawers".<span class="source"> SOURCE: Private collection.</span></div>
    </div>
    <p>
        The summer of 1862 saw long, forced marches in sweltering heat with inadequate food as the 46th's Corps attempted to repel Jackson's maneuvers in Northern Virginia. June and July saw only pursuit, and it wasn't until August that the two armies met outside of the town of Culpepper, Virginia, in a battle that is now known as Cedar Mountain.
    </p> 
    <p>
        Outnumbered two to one, the 8,000 Union troops, including Company D, gained an early advantage in the battle when Company D's Brigade (consisting of four regiments), charged into Confederate lines and were engaged in brutal hand-to-hand combat. They shattered the infamous "Stonewall" Jackson's line and threatened to force his men into retreat, but Union commanders failed to properly support the 46th's Brigade. After Company D and its Brigade had sustained 50 percent casualties, they had no option but to retreat. By the end of the day, Jackson's men and reinforcements would retake the field, and the battle would be declared a Union defeat<a id="footnote-5-ref" href="#footnote-5" title="link to footnote">[5]</a>. 
    </p>
    <p>
        Company D alone suffered three men killed at Cedar Mountain and numerous captured and wounded. Those who survived wounds, death, or capture had been pushed to their limit after months of hard physical service, bad nutrition, and the mental strain of combat. As the Union Army began its northward retreat, the 46th was forced to keep pace while performing guard duties and burning supplies to keep them from Confederate hands. Over those weeks, many were sent to hospitals as physical illnesses developed. By the end of August when the armies again clashed at Second Manassas, the 46th and its brigade were so reduced in strength that they didn't participate in the fighting. 
    </p>
</div>
<div class="item">
    <div class="lbl">Eye Color</div> 
    <div national-bar data="nationalAverages.eyes" attribute="eyes" label="National"></div>
    <div company-bar class="bar-item" data="companyData" attribute="eyes" label="Company"></div>
    <div company-bar class="bar-item" data="companyData" attribute="eyes" label="Mess 1" mess="1"></div>
    <div company-bar class="bar-item" data="companyData" attribute="eyes" label="Mess 2" mess="2"></div>
    <div company-bar class="bar-item" data="companyData" attribute="eyes" label="Mess 3" mess="3"></div>
    <div company-bar class="bar-item" data="companyData" attribute="eyes" label="Mess 4" mess="4"></div>
    <div company-bar class="bar-item" data="companyData" attribute="eyes" label="Mess 5" mess="5"></div>
    <div company-bar class="bar-item" data="companyData" attribute="eyes" label="Mess 6" mess="6"></div>
    <div company-bar class="bar-item" data="companyData" attribute="eyes" label="Officers" mess="7"></div>
    <div class="picture-caption">Nationally, 45 percent of Union Soliders had blue eyes. In comparison, Company D's men were 35 percent blue eyed, with a higher percentage of gray and hazel eyed soldiers than at the national level.</div>
</div>