<div class="text">
    <p>
        After the Union defeat at Chancellorsville, Lee turned his 75,000 man army northward with the intent of invading the North and hopefully ending the war. Union forces, almost 100,000 strong, scrambled in pursuit in an attempt to cut off Lee's advance. The two armies met on July 1st in what is now perhaps the most famous battle of the war, Gettysburg. Just 50 miles from their home, the 46th Pennsylvania and Company D were acutely aware of the importance of the task before them.
    </p>
    <p>
        Now hardened veterans, the 46th arrived on the evening of July 1st and set to work digging shallow trenches, or breastworks, on the strategic strong point of Culp's Hill. Their brigade formed the rightmost point, or flank, of the Union army, a position that would be sure to draw Confederate attention. Severely depleted in strength after the conflicts of the prior year, the 46th's ranks consisted of about 250 men total.</p>
    </p>
    <blockquote>
        As you drew nearer, the sound of the cannon was plainer to you; you could hear the bursting shells, then the steady roll of musketry, and you knew that death was reaping his harvest; the old Forty-sixth had been there many a time, and knew what it all meant.
        <footer>Captain Joseph Matchett.
            <cite title="Source Title">1889 Gettysburg Monument Dedication</cite>
        </footer>
    </blockquote>
    <p>
        On July 2nd, the brigade was ordered to support the left of the Union line that was under heavy attack. When they returned, they found that their breastworks were occupied by Confederates, eager to advance on the Union right as well. The 46th and its brigade rushed into the breastworks with bayonets and quickly removed the intruders.
    </p>
    <p>
        The following day, simultaneous to the infamous "Pickett's Charge" in the center of the Union line, Confederate soldiers launched an attack on the Union right on Culp's Hill. During seven long hours of fighting, the 46th and Company D held the heights and inflicted many Confederate casualties. By the morning of the 4th, Lee's men had started their retreat southward. Regarded as the turning point of the war and the "high tide" of the Confederacy, a Union victory had finally been gained.
    </p>
    <p>
        Casualties were high on both sides, with an estimated 50,000 wounded and killed. The 46th faired well behind their breastworks, with only a handful killed or wounded. One of the dead was 23-year-old John Wenrich of Company D, who was killed by artillery fire; tragically, his younger brother Amos, 19, had drowned on duty a year earlier <a id="footnote-10-ref" href="#footnote-10" title="link to footnote">[10]</a>.
    </p>
</div>
<div class="item">
    <div class="lbl">age & height</div>
    <div class="item bar-half">
        <div bar data="companyData" attribute="age" class="age" average="nationalAverages.age"></div>
    </div>
    <div class="item bar-half">
        <div bar data="companyData" attribute="heightin" class="heightft" average="nationalAverages.height"></div>
    </div>
    <div class="key">
        <div class="national"></div>
        <div class="lbl-xs">National Average</div>
        <div class="company"></div>
        <div class="lbl-xs">Company Average</div>
    </div>
    <div class="picture-caption">Company D's men were about average in both age and height. While the youngest recorded solider in the company was 18 years old, some boys had about their ages to enlist. Henry Weidensaul of Company D was actually 15 years old when he enlisted, though on the muster roll he reports being a 19-year-old schoolboy.</div>
</div>
