<div class="text">
    <div class="lbl">Atlanta</div>
    <p>
        After the Confederate army's defeat at Gettysburg, the Union army followed their retreat back into Virginia, but there wasn't any further fighting. While the invasion of the North had been quelled, Union command had again allowed the Confederates to escape without delivering a blow strong enough to end the war. Until late September, the 46th Pennsylvania camped and performed guard duty along the Rappahannock River in defense of Washington, D.C. Late in the month, they travelled by rail to Nashville, Tennessee to support Union efforts. For the remainder of the year, they guarded the Nashville & Chattanooga railroad, which was routinely under attack from guerrillas and Confederate cavalry hoping to disrupt movement of Union troops and supplies.
    </p>
    <p>
        By January of 1864, the enlistments of the original men of Company D were soon to expire. They had two options — reenlist or go home. After two-and-a-half years away from home and numerous dangers and hardships, only five of the original men decided not to reenlist. Those who chose to stay were sent home by rail for one month of leave, where they used some of their time to enlist new men into the Company to fill out their ranks. In February, they joined the army in its winter quarters around Chattanooga, and resumed their railroad guarding duties [11].
    </p>
    <p>
        Fighting continued throughout the winter and into the spring of 1864, but the 46th avoided major conflicts. By May, Union command had devised plans that would hopefully bring the war to an end. While Generals Ulysses S. Grant and Robert E. Lee fought brutal battles in Virginia, General William T. Sherman, now commanding a 100,000 man army that included the 46th Pennsylvania, began his planned advance on Atlanta, Georgia, a Confederate hub of supplies and transportation.
    </p>
    <p>
        Moving southward, the 46th was involved in numerous engagements as the Confederate Army of Tennessee under General Joseph E. Johnston attempted to stop Sherman. Soldiers on both sides were now veterans, and the fighting was often hard. During over 10 engagements during May, June, and July, the regiment suffered about fourteen men killed and thirty wounded. Late that month, the 46th once again lost almost 50 percent of its men in a single battle, as Confederate General John Bell Hood assaulted Peach Tree Creek, outside of Atlanta. Company D lost four men and many were wounded.
    </p>
    <p>
        For the remainder of July and August, Sherman circled Atlanta and cut off all means of supply to the Confederate Army. Unable to withstand Union pressure, the Confederates abandoned Atlanta on the night of September 1st. Sherman's men marched in on the 2nd, having dealt a major blow to the Confederacy at the cost of about 35,000 Union soldiers dead and wounded [12].
    </p>
    <p>
    <blockquote>
       With great rejoicing I inform you that Atlanta is ours! My wish and promises have been fulfilled...
        <footer>Private James A Peifer.
            <cite title="Source Title">Company C, 46th Pennsylvania Infantry</cite>
        </footer>
    </blockquote>
    </p>
</div>
<div class="item">
    <div class="lbl">occupations</div>
    <div circle-pack class="occupation" data="companyData" attribute="occupation" filter="occupationDisplay"></div>
    <div class="filter-buttons">
        <div class="filter-label">filter</div>
        <div class="mess-check" ng-repeat="mess in messes">
            <label class="lbl-xs">{{mess}}</label>
            <input type="radio" ng-model="occupationDisplay.value" ng-value="mess">
        </div>
    </div>
    <div class="picture-caption">Nationally, 48 percent of soldiers were farmers. While farming was the most common occupation in Company D, only 20 percent farmed. There was a much higher percentage of men, 44 percent, working in labor categories as carpenters, laborers, and teamsters. There was also a much higher percentage of men (32 percent of the company, compared to 5 percent of soldiers nationally) involved in commerical fields, like tailors, blacksmiths, and shoemakers. This is probably due to the variety of commercial occupations surrounding and within Harrisburg.</div>
</div>
