<div class="text">
    <div class="lbl">March to the Sea</div> 
    <p>
       The capture of Atlanta was a major victory for the Union, but the war was not yet over. Sherman's men and the 46th Pennsylvania remained in Atlanta resupplying and preparing for their next move. During this time, the five original men in Company D who decided not to reenlist went home. 
    </p>
    <p>
        After two-and-a-half months, Sherman was ready. His plan was a daring one. He would take his army east, cutting through the heart of Georgia. He hoped to inflict enough financial, material, and psychological pain on the South to break the will of the Confederacy. On November 15th, 1864, 64,000 of Sherman's best troops left Atlanta. Hoping to keep his operations covert, all telegraph and supply lines were cut. Union command wouldn't learn of their fate until they reached their destination, Savannah.
    </p>
    <p>
        Moving east at a pace of about 15 miles per day, they tore up rail lines and destroyed anything deemed valuable to the Confederate army. Confederate resistance against Sherman was greatly outnumbered and disorganized, and most defensive efforts had little effect.
    </p>
    <p>
        Since there was no means of supply, the soldiers were ordered to forage food and supplies off of the local country. To do so, they operated mostly in small groups without supervision, and while they would completely ransack some buildings, they would leave others untouched, leading to a sense of unpredictability that terrified Georgians. Know as "Sherman's Bummers", their reputation, along with many stories about their hostility, live on. However, it's generally accepted that Sherman expected his men to direct their hostilities toward possessions, not people, and the majority followed that expectation.
    </p>
    <p>
    <blockquote>
        We started from Savannah with twelve days' rations of coffee, sugar, and hard bread (no meat) and were out sixty-seven days before reaching this [camp]. All that we have had to support us, besides this, has been taken from the country. Our clothing is worn and torn. Many men are shoeless, and few have a decent pair of breeches. Every man's face is as black as a Negro's with the smoke of the pitch-pine fires. A more begrimed and war-worn looking army I fancy was never seen.
        <footer>General Alpheus S. Williams.
            <cite title="Source Title">Commander of the 46th Pennsylvania's Corps</cite>
        </footer>
    </blockquote>
    </p>
    <p>
        On December 21st, after cutting a swath across Georgia, Sherman's men entered Savannah with little resistance. But there was no spare time to rest, and he turned his men northward toward South Carolina. As it was the first state to secede from the Union, invading South Carolina ignited a patriotic fervor in Sherman’s men, and they tore through the state with even more tenacity than they had Georgia. On February 17th, they took the capitol city of Columbia [13]. 
    </p>
</div>
<div class="item">
    <div class="lbl">out date</div>
    <div timeseries data="companyData" events="events" attribute="dateout" filter="timeseriesDisplay"></div>
    <div class="filter-buttons">
        <div class="filter-label">filter</div>
        <div class="mess-check" ng-repeat="mess in messes">
            <label class="lbl-xs">{{mess}}</label>
            <input type="radio" ng-model="timeseriesDisplay.value" ng-value="mess">
        </div>
    </div>
    <div class="picture-caption">Company D lost the majority of its men at Cedar Mountain and Peach Tree Creek — in each conflict 50 percent of the Company was wounded, killed, or went missing. Many of the original men were wounded or captured, but returned to service for the duration of the war. Due to high casualties and the need to promote skilled soldiers to higher commands, by the time of Muster Out, Company D was commanded by Thomas Novinger of Mess 2, who had originally enlisted as a Private at the age of 21.</div>
</div>