<div class="text">
    <div class="lbl">surrender</div>
    <p>
        From Columbia, Sherman continued into North Carolina, slowly pushing the remaining Confederate resistence in the South toward General Grant's army, which was inflicting horrible casualties on Lee outside the Confederate capitol of Richmond, Virginia. Confederate resistance against Sherman was greatly outnumbered and disorganized, and most conflicts had little effect. The 46th Pennsylvania fought their last battle at Bentonville, North Carolina, before continuing northward. On April 9th, just before arriving in Raleigh, they recieved news that Lee's army had surrendered outside of Richmond. They occupied Raleigh on April 14th, having marched over 400 miles in fifty days.
    </p>
    <p>
        On April 18th, three days after the assasination of President Lincoln, the Confederate forces facing Sherman in North Carolina, under the command of General Joseph E. Johnson, surrendered. After four brutal years, the war was over.
    </p>
    <p>
        The army marched north through Richmond and then on to Washington, DC, arriving on May 12th. Worn ragged from their relentless campaign through the South and having abandonded most of their military formality, they drilled and cleaned uniforms and equipment. On May 24th, Sherman's entire army marched down Pennsylvania avenue in The Grand Review — a two day procession of 150,000 Union troops.
    </p>
    <p>
        After two months in the Washington area, the 46th Pennsylvania Infantry was mustered out of service at Alexandria, Virginia. 33 of the original men were present at muster out — 36 percent of those who had enlisted four years prior <a id="footnote-14-ref" href="#footnote-14" title="link to footnote">[14]</a>.
    </p>
</div>
<div class="item">
    <div class="lbl">fate</div>
    <div national-bar data="nationalAverages.casualties" attribute="cause" label="National" sort="order"></div>
    <div company-bar class="bar-item" data="companyData" attribute="cause" label="Company" national="nationalAverages.casualties" sort="order"></div>
    <div company-bar class="bar-item" data="companyData" attribute="cause" label="Mess 1" mess="1" national="nationalAverages.casualties" sort="order"></div>
    <div company-bar class="bar-item" data="companyData" attribute="cause" label="Mess 2" mess="2" national="nationalAverages.casualties" sort="order"></div>
    <div company-bar class="bar-item" data="companyData" attribute="cause" label="Mess 3" mess="3" national="nationalAverages.casualties" sort="order"></div>
    <div company-bar class="bar-item" data="companyData" attribute="cause" label="Mess 4" mess="4" national="nationalAverages.casualties" sort="order"></div>
    <div company-bar class="bar-item" data="companyData" attribute="cause" label="Mess 5" mess="5" national="nationalAverages.casualties" sort="order"></div>
    <div company-bar class="bar-item" data="companyData" attribute="cause" label="Mess 6" mess="6" national="nationalAverages.casualties" sort="order"></div>
    <div company-bar class="bar-item" data="companyData" attribute="cause" label="Officers" mess="7" national="nationalAverages.casualties" sort="order"></div>
    <div class="picture-caption">
    <i>For the Company, "Wounded" means that the soldier was discharged due to their wounds. Many men were wounded and returned to service or never left, so they haven't been included in the wounded category.</i>
    <br>
    <br>
    Official records report that almost 30 percent of the Union army was killed in action, missing, or died of disease. Company D faired slightly better, with 18 percent of its original men dying from those causes. However, while 3 percent of men were killed in action on a national level, 11 percent of Company D suffered that fate, attesting to the brutality of their four years of service. 21 percent of Messes 1 and 3 were killed in action. When those who died of disease are added to that number for both messes, it shows that one in four men in Mess 1 didn't return home, and one in three men in Mess 3 didn't. 
    </div>
</div>
