<div class="header">
  <h1>Model Company</h1>
  <p>An uncommon look at the common Civil War solider.</p>

  <div class="controls">
    <div class="btn-group">
      <button ng-click="toggle('ind')" ng-class="displayMode ? 'btn disabled' : 'btn'">Individuals</button>
      <button ng-click="toggle('cat')" ng-class="displayMode ? 'btn' : 'btn disabled'">Categories</button>
    </div>

    <form>
    <div ng-repeat="cat in categories">
      <input ng-click="setDisplay(cat)" type="radio" name="attrs" value="{{cat}}">{{cat}} <br>
      </div>
    </form> 
  <button class="btn btn-default" ng-click="changeOrder()">Sort</button>
  </div>

  <div class="footer">
    Created by <a href="http://meredithmmyers.com" target="_blank">Meredith Myers</a>
  </div>
</div>
<div class="container">
</div>
<chart data="data" sets="sets"></chart>

