<div class="sidebar">
  <div class="header">
    <a href="#/"><img ng-src="../img/ModelCompany_Logo.png" class="logo"/></a>

    <div class="controls">
      <div class="group">
        <button ng-click="toggle('ind')" ng-class="displayMode ? 'btn btn-default disabled' : 'btn btn-default'">Individuals</button>
        <button ng-click="toggle('cat')" ng-class="displayMode ? 'btn btn-default' : 'btn btn-default disabled'">Categories</button>
        <button class="btn btn-default sortBtn" ng-click="changeOrder()">Sort</button>
      </div>

      <form>
      <div ng-repeat="cat in categories">
        <input ng-click="setDisplay(cat.key)" type="radio" name="attrs" ng-class={{cat.key}}>{{cat.dispkey}} <br>
        </div>
      </form> 

       <a href="#/about">About</a>
       
    </div>
  </div>
  <div class="footer">
    <p>Created by <a href="http://meredithmmyers.com" target="_blank">Meredith Myers</a></p>
    <p>Logo thanks to <a href="http://alissascheller.com" target="_blank">Alissa Scheller</a></p>
    <p>An<a href="https://github.com/meredithmmyers/model-company" target="_blank"> open source </a>project</p>
  </div>
</div>

<div class="chart-container" ng-hide="showAbout"></div>
<chart data="data" sets="sets" displayattr="displayValue">
</chart>

