<div class="text">
    <div class="lbl">going home</div>
    <p>
        Over 150 years later, we understand the result of the Civil War, and the effects it has to this day. But it can be difficult to remember the uniquely human cost of the war, which is a large part of the reason that it is still seared into our national pscyhe. At the time, everyone knew someone, and often had family or neighbors who had served. The harm to those who didn't return home is more obvious, but the psychological cost to those who did can never be measured. As they returned to their homes and occupations and attempted to resume the life they led before the war, all were permanently changed. While many led successful lives, discussing their experiences with friends and family who hadn't served was often impossible, and in a medical world that had no notion of what we've come to know as Post Traumatic Stress Disorder, many only found solace in time spent with their fellow veterans.
    </p>
    <p>
        Like many regiments, the 46th Pennsylvania and Company D met routinely after the war. While some regiments started to compile a history of of their service, none ever materialized for the 46th. Perhaps this was because their most likely writer, Captain George Brooks of Company D, who had often written home and to the newspapers about their activities, was killed early in the war at Antietam. Whatever the cause, failing to record their own story has caused history to mostly forget it.
    </p>
    <p>
        However, the unique information they left behind has offered an opportunity to look at the Union soldier as an individual who dealt with the hardships of war and the scars, physical and mental, that it gave them no choice but to receive. By using this Model Company, we can begin to understand the human face of a time in our history that we are fortunate enough to only have to imagine.
</div>
