<div class="text">
    <div class="lbl">going home</div>
    <p>
        Over 150 years later, most Americans understand the larger results of the Civil War - slavery as an institution ended, the Union prevailed. But it's harder to come to terms with the unique costs of a war waged between countrymen. At the time, everyone had family, neighbors, or friends who served. Today, it's almost impossible to understand what that would have been like. Yet the fault lines of modern American society still run along lines created during the war; the social, moral, political, and economic costs are still seared into our national pscyhe.
    </p>
    <p>
        The harm to those who didn't return home is more obvious, but the psychological cost to those who did can never be measured. As they returned to their homes and occupations and attempted to resume the life they led before the war, all were permanently changed. While many led successful lives and looked back on their service with pride, discussing their experiences with friends and family who hadn't served was often impossible. In a medical era that had no notion of what we've come to know as post-traumatic stress disorder, many only found solace in time spent with their fellow veterans.
    </p>
    <p>
        Like many regiments, the 46th Pennsylvania and Company D met routinely after the war. While some regiments started to compile a history of of their service, none ever materialized for the 46th. Perhaps this was because their most likely writer, Captain George Brooks of Company D, who had often written home and to the newspapers about their activities, was killed early in the war at Antietam. Whatever the cause, failing to record their own story has caused history to mostly forget it.
    </p>
    <p>
        However, the unique information they left behind has offered an opportunity to look at the 46th Pennsylvania, and also the Union soldier as an individual who dealt with the hardships of war and the scars, physical and mental, that they had no choice but to receive. By using this Model Company, we can better understand the human face of a time in our history that we are fortunate enough to only have to imagine.
</div>
