<div class="text sources">
    <div class="lbl">sources</div>
    <p>Intro photograph is of the 139th Pennsylvania Infantry and is available from the <a target="_blank" href="http://www.loc.gov/pictures/collection/cwp/item/2013648610/">Library of Congress</a>. No photos of Company D as a group are known to exist.</p>
    <p>Soldier data was compiled by the author using Muster Rolls and the personal correspondance of Captain George A. Brooks.</p>
    <hr>
    <p id="footnote-1">
        1. <a target="_blank" href="https://familysearch.org/learn/wiki/en/46th_Regiment,_Pennsylvania_Infantry">Family Search</a>
    </p>
    <p id="footnote-2">
        2. <a target="_blank" href="http://www.city-data.com/us-cities/The-Northeast/Harrisburg-History.html">City-Data.com</a>
    </p>
    <p id="footnote-3">
        3. <a target="_blank" href="http://www.campcurtin.org/id5.html">Camp Curtain Historical Society.</a>
    </p>
    <p id="footnote-4">
        4. <a target="_blank" href="http://www2.lib.unc.edu/mss/inv/b/Brooks,George_A.html">The Diary of Captain George A Brooks</a>
    </p>
    <p id="footnote-5">
        5. <a target="_blank" href="http://www.civilwar.org/battlefields/cedar-mountain.html?tab=home">Cedar Mountain - Civil War Trust</a>
    </p>
    <p id="footnote-6">
        6. <a target="_blank" href="http://www.civilwar.org/battlefields/antietam.html?tab=facts">Antietam - Civil War Trust</a>
    </p>
    <p id="footnote-7">
        7. <a target="_blank" href="http://www.ma150.org/day-by-day/1863-01-20/mud-march-begins">Massachusetts 150</a>
    </p>
    <p id="footnote-8">
        8. Williams, Alpheus S. (1995). <i>From the Cannon's Mouth.</i> p. 192.
    </p>
    <p id="footnote-9">
        9. <a target="_blank" href="http://www.civilwar.org/battlefields/chancellorsville.html?tab=facts">Chancellorsville - Civil War Trust</a>
    </p>
    <p id="footnote-10">
        10. Machette, John. (1889). Gettysburg Monument Dedication.
    </p>
    <p id="footnote-11">
        11. Dyer, Frederick H. (1908). A Compendium of the War of the Rebellion.
    </p>
    <p id="footnote-12">
        12. <a target="_blank" href="http://www.civilwar.org/battlefields/resaca/atlanta-campaign-overview/the-atlanta-campaign.html">Atlanta Campaign Overview - Civil War Trust</a>
    </p>
    <p id="footnote-13">
        13. <a target="_blank" href="http://www.civilwar.org/hallowed-ground-magazine/fall-2014/scorched-earth.html">Scorched Earth - Civil War Trust</a>
    </p>
    <p id="footnote-14">
        14. Bates, Samuel P. History of the Pennsylvania Volunteers, 1861-65, Harrisburg, 1868-1871.
    </p>
</div>
