<div class="text">
    <p>
        Aware of the physical and mental condition of what remained of the 46th, along with its Brigade and Corps, field commanders attempted to request time for rest and resupply for the men. But with the Confederates having badly outmanuvered the Union since the spring, and yet another defeat suffered at Second Manassas, it was clear the Union wasn't winning the war. The 46th wasn't allowed any rest, and while they did receive new issues of uniforms and equipment, their depleated ranks remained in a desperate state. In early September, intelligence arrived that Confederate forces were heading northward toward Pennsylvania, and the 46th's Corps was dispatched to help stop the Confederate advance.
    </p>
    <p>
        Some who were wounded at Cedar Mountain returned to the regiment, knowing that it was in desparate need of men. George A. Brooks, commanding Company D, was one of them, along with the 46th's Colonel, Joseph Knipe. They arrived from their homes in Harrisburg just in time to participate in the Battle of Antietam, which occurred outside of the small town of Sharpsburg, Maryland. In the biggest battle the war had yet seen, 130,000 soldiers would engage in the bloodiest day in American history. 23,000 soldiers were killed or wounded in vicious combat, including Captain Brooks, who died instantly after being shot while leading Company D onto the field.
    </p>
    <p>
        The battle is remembered by history as a tactical draw, but the Confederate army did withdraw back into Virginia for the remainder of 1862, and the Lincoln administration declared it a victory. Using the favorable social and political sentiment after the first "real victory" for the north, Lincoln delivered the <a href="http://www.archives.gov/exhibits/featured_documents/emancipation_proclamation/">Emancipation Proclamation</a>, freeing all slaves under the premise that secession was illegal and therefore the South was still a part of the Union. Obviously, the document was inconsequential in the South, however it did fulfill its intended purpose of giving the Union moral focus to a war that was nowhere near its end <a id="footnote-6-ref" href="#footnote-6" title="link to footnote">[6]</a>.
    </p>
</div>
<div class="item">
    <div class="lbl">Hair Color</div>
    <div national-bar data="nationalAverages.hair" attribute="hair" label="National"></div>
    <div company-bar class="bar-item" data="companyData" attribute="hair" label="Company"></div>
    <div company-bar class="bar-item" data="companyData" attribute="hair" label="Mess 1" mess="1"></div>
    <div company-bar class="bar-item" data="companyData" attribute="hair" label="Mess 2" mess="2"></div>
    <div company-bar class="bar-item" data="companyData" attribute="hair" label="Mess 3" mess="3"></div>
    <div company-bar class="bar-item" data="companyData" attribute="hair" label="Mess 4" mess="4"></div>
    <div company-bar class="bar-item" data="companyData" attribute="hair" label="Mess 5" mess="5"></div>
    <div company-bar class="bar-item" data="companyData" attribute="hair" label="Mess 6" mess="6"></div>
    <div company-bar class="bar-item" data="companyData" attribute="hair" label="Officers" mess="7"></div>
    <div class="picture-caption">55 percent of Union soliders had brown hair, and only 1 percent had gray hair, showing that it was indeed a young man's fight. The majority of Company D's soldiers also had brown hair. Two men had gray hair, and there was only one red head - William Beddleyoung, a 43 year old teamster from Dauphin County.</div>
</div>