<div class="text">
    <div class="lbl">recruits</div> 
    <p>
        The 91 men of Company D, along with almost 900 others forming the ten companies of the 46th Pennsylvania, spent only two weeks organizing and training at Camp Curtain before they were rushed by train on September 17th to defend Washington, DC. Each company came from different regions, including many central Pennsylvanian counties and some Pittsburgh area counties on the western side of the state <a id="footnote-1-ref" href="#footnote-1" title="link to footnote">[1]</a>.
    </p>
    <p>
        Company D's men were primarily from Harrisburg and the county in which it is located, Dauphin. At the time of the war, the area was an important center of industry through which many turnpikes, railroads, and canals crossed and intersected <a id="footnote-2-ref" href="#footnote-2" title="link to footnote">[2]</a>. Its centrality made it an excellent location for the Union's largest training camp, and over the course of the four year Civil War over 300,000 recruits would learn to be soliders at Camp Curtain <a id="footnote-3-ref" href="#footnote-3" title="link to footnote">[3]</a>. 
    </p>
    <p>
        A few men also enlisted from other areas, including a small group from Berks County, to the east of Harrisburg, one from the Pittsburgh area, and one from the northeastern part of the state. There was also a recent immigrant from Germany.
    </p>
    <p>
        Those who volunteered for service were primarly motivated by what they felt was their patriotic duty to end the "Southern rebellion". Reguarded by the Lincoln administration as an illegal act, the secession of the South was met with rage by northerners who were immediately eager to join up and restore the Union. 
    </p>
    <p>
        It was during this time that the men would've provided identifying characteristics about themselves, such as hair, eye, and skin color. In a pre-dental record and "dog tag" era, these simple traits could be their only hope of identification if killed and not located by comrades.
    </p>
    <p>
        On a lighter note, they also selected their "Messes" — groups of 15 to 20 soldiers that they organized themselves. This self-division leads to an interesting subset of the company since they would have selected friends, neighbors, and relatives. They would camp together, cook together, and sleep together. However, the miliary didn't keep records of who composed Messes, so the most personal subsets of companies were lost to time.
    </p>
    <p>
        The remainder of 1861 would have formed even stronger bonds between the "green" Messes of Pennsylvanians, who would travel 95 miles by foot as they marched north of the nation's capitol to deter Confederate operations. Although they were close to combat several times and even witnessed the wounded and dead after the battle of Ball's Bluff, they were never called into action. Instead, they learned much about the hardships of the soldiers' life on military campaign.
    </p>
</div>
<div map id="map" data="companyData" filter="mapDisplay" interaction="interaction" geocoder="geocoder"></div>
<div class="filter-buttons">
    <div class="filter-label">filter</div>
    <div class="mess-check" ng-repeat="mess in messes" ng-class="getBorderStyle(mess)">
        <label class="lbl-xs">{{mess}}</label>
        <input type="radio" ng-model="mapDisplay.value" ng-value="mess">
    </div>
    <div class="map-interaction pull-right">
        <div class="filter-label">map interaction</div>
        <div class="btn btn-default btn-sm" ng-click="interaction = !interaction;" ng-class="{'off': !interaction}">
            <span ng-show="interaction">ON</span>
            <span ng-hide="interaction">OFF</span>
        </div>
    </div>
</div>

<div class="picture-caption">The men of Company D hailed mostly from Harrisburg and surrounding areas.<span class="source"> SOURCE: Private collection.</span></div>