<img class="splash" src="img/139th.png"/>
<div class="header">
    <div class="header-title">Model Company</div>
    <p class="header-sub">An uncommon look at the common Civil War soldier.</p>
</div>
<div class="container-fluid">
    <div class="visual col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-include="'views/intro.html'"></div>
    <div class="visual col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-include="'views/homes.html'"></div>
    <div class="visual col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-include="'views/eyes.html'"></div>
    <div class="visual col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-include="'views/hair.html'"></div>
    
    <div class="picture-centered">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <img src="img/renard_rusche.jpg"/>
        </div>
        <div class="col-xs-12 col-sm-4   col-md-4 col-lg-4">
            <img src="img/brooks.jpg"/>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <img class="sm" src="img/awenrich.jpg"/>
            <div class="picture-caption sm">Charles Renard, far left, of Mess 2 poses with a friend from the 53rd Pennsylvania Infantry. Captain George A. Brooks, center, was killed in action at Antietam on Sept. 16th, 1862. Private Amos M. Wenrich, above, drowned Jan. 31st, 1862 while guarding Dam. No. 6 outside of Hancock, MD.<span class="source"> SOURCE: Private collection.</span></div>
        </div>
    </div>

    <div class="visual col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-include="'views/complexion.html'"></div>
    <div class="visual col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-include="'views/age-height.html'"></div>
    <div class="visual col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-include="'views/occupation.html'"></div>
    <div class="visual col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-include="'views/out-date.html'"></div>
    <div class="visual col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-include="'views/fate.html'"></div>

    <img class="picture" src="img/mess_1.jpg"/>
    <div class="picture-caption">Mess information was collected from six lists of missing equipment, created after the Third Battle of Winchester on May 25th, 1862.<span class="source"> SOURCE: Private collection.</span></div>

    <div class="visual col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-include="'views/roster.html'"></div>

    <div class="footer">
        <span>Made by <a href="http://meredithmmyers.com">Meredith M Myers</a> | <a href="https://twitter.com/meredithmmyers">@meredithmmyers</a> | 2015</span>
    </div>
</div>
