<div class="header-section">
    <div class="splash"></div>
    <div class="header">
        <div class="header-title">Model Company</div>
        <p class="header-sub">An uncommon look at the common Civil War soldier.</p>
    </div>
    <div class="scroll-arrow">
        <div class="arrow"></div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="visual col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-include="'views/intro.html'"></div>
    </div>
    <div class="row">
        <div class="visual col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-include="'views/1-homes.html'"></div>
    </div>
    <div class="row">
        <div class="visual col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-include="'views/2-eyes.html'"></div>
    </div>
    

    <div class="row">
        <div class="visual col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-include="'views/3-hair.html'"></div>
    </div>

    <div class="row picture-centered">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <img src="img/renard_rusche.jpg"/>
        </div>
        <div class="col-xs-12 col-sm-12   col-md-4 col-lg-4">
            <img src="img/brooks.jpg"/>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <img src="img/ney_levi.jpg"/>
        </div>
        <div class="picture-caption desktop">Charles Renard, far left, of Mess 2 poses with a friend from the 53rd Pennsylvania Infantry. Captain George A. Brooks, center, was killed in action at Antietam on Sept. 17th, 1862. Private Levi Ney, right, killed in action at Peach Tree Creek on July 21st, 1864.<span class="source"> SOURCE: Private collection.</span></div>
        <div class="picture-caption mobile">From top to bottom: Charles Renard, far left, of Mess 2 poses with a friend from the 53rd Pennsylvania Infantry. Captain George A. Brooks was killed in action at Antietam on Sept. 17th, 1862. Private Levi Ney was killed in action at Peach Tree Creek on July 21st, 1864.<span class="source"> SOURCE: Private collection.</span></div>
    </div>

    <div class="row">
        <div class="visual col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-include="'views/4-complexion.html'"></div>
    </div>
    <div class="row">
        <div class="visual col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-include="'views/5-age-height.html'"></div>
    </div>
    <div class="row picture-centered">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">
            <img src="img/awenrich.jpg"/>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <img src="img/wenrich_j.jpg"/>
            <div class="picture-caption sm desktop">Brothers Amos Wenrich, left, age 19, and John Wenrich, above, age 23, served in Mess 3. Amos drowned Jan. 31st, 1862 while guarding Dam. No. 6 outside of Hancock, MD. John was killed in action at Gettysburg, July 3rd, 1863.<span class="source"> SOURCE: Private collection.</span></div>
            <div class="picture-caption mobile">Brothers Amos Wenrich, age 19, and John Wenrich,age 23, in order from top to bottom, served in Mess 3. Amos drowned Jan. 31st, 1862 while guarding Dam. No. 6 outside of Hancock, MD. John was killed in action at Gettysburg, July 3rd, 1863.<span class="source"> SOURCE: Private collection.</span></div>
        </div>
    </div>
    <div class="row">
        <div class="visual col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-include="'views/6-occupation.html'"></div>
    </div>
    <div class="row">
        <div class="visual col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-include="'views/7-out-date.html'"></div>
    </div>
    <div class="row">
        <div class="visual col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-include="'views/8-fate.html'"></div>
    </div>

     <div class="row picture-centered">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">
            <img src="img/frantz_david.jpg"/>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <img src="img/frantz_henry.jpg"/>
        </div>
        <div class="picture-caption sm desktop">Brothers David and Henry Frantz (left and right respectively) served in Mess 3 for all four years of the war and returned to their homes in West Hanover Township outside of Harrisburg, PA.<span class="source"> SOURCE: Private collection.</span></div>
        <div class="picture-caption mobile">Brothers David and Henry Frantz (in order from top to bottom) served in Mess 3 for all four years of the war and returned to their homes in West Hanover Township outside of Harrisburg, PA.<span class="source"> SOURCE: Private collection.</span></div>
    </div>

    <div class="row">
        <div class="visual" ng-include="'views/9-roster.html'"></div>
    </div>

    <div class="row">
        <div class="visual" ng-include="'views/conclusion.html'"></div>
    
        <img class="picture" src="img/reunion.jpg"/>
        <div class="picture-caption">Veterans of the 46th Pennsylvania gather for a reunion in 1894.<span class="source"> SOURCE: The collection of K. Dickersin.</span></div>
    </div>
    <div class="row footer">
        <div class="text">
            <p>
                There is much more to tell about 46th Pennsylvania Infantry. For more information or to get in touch, visit <a href="http://fortysixthregiment.org">fortysixthregiment.org</a> or email <a href="mailto:fortysixth.regiment@gmail.com">fortysixth.regiment@gmail.com</a>.
            </p>
            <p><hr></p>
            <p>
                <div>Researched, compiled, and visualized by <a href="http://meredithmmyers.com">Meredith Myers</a> | <a href="https://twitter.com/meredithmmyers">@meredithmmyers</a></div>
                <div>Special thanks to <a href="https://twitter.com/alissascheller">@alissascheller</a> for editing.</div>
            </p>
            <hr>
        </div>
    </div>


    <div class="row footnotes">
        <div class="visual col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-include="'views/credits.html'"></div>
    </div>
</div>
