$blue: #7792a8;
$gray: #e5e8ec;
$white: #ffffff;
$red: #eb2a2e;
$brown: #503a25;

// FLAT-UI COLORS
$clouds: #ECF0F1;
$silver: #BDC3C7;
$concrete: #95A5A6;
$asbestos: #7F8C8D;
$asbestos-dark: darken($asbestos, 20%);
$carrot: #E67E22;
$pumpkin: #D35400;
$midnightblue: #2C3E50;

$sunflower: #F1C40F;

$alizarin: #E74C3C;
$pomegranate: #C0392B;

$emerald: #2ECC71;
$nephritis: #27AE60;

$belizehole: #2980B9;
$peterriver: #3498DB;