// bower:scss
// endbower
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,700);
@import url(http://rawgithub.com/Caged/d3-tip/master/examples/example-styles.css);
@import 'colors';

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  font-size: 16px;
  font-family: "Open Sans", "san serif", "Ariel";
  color: $brown;
}

/* Header */
.header {
  border-bottom: 1px solid #e5e5e5;
  text-align: center;
  .header-title {
    font-family: "League Gothic", "Ariel", "san serif";
    font-size: 4em;
    text-transform: uppercase;
  }
  .header-sub {
    font-size: 1em;
  }
}

/** General styling for information display sections */
.text {
  padding: 2em 4em;
  .section-header {
    font-size: 2em;
    font-family: "League Gothic";
    width: 100%;
    text-align: center;
    margin: 2% 0;
  }
}
.visual {
   margin: 1em 0em;
   padding: 1em 0em;
  .lbl {
    font-family: "League Gothic";
    font-size: 1.3em;
    text-transform: uppercase;
    margin-bottom: 0.5em;
  }
  .lbl-sm {
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
  }
  .lbl-xs {
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
  }
  .item {
    display: inline-block;
  }
}

/** Visualization specific styles */

/** General Overrides */
text {
  font-size: 14px;
  font-weight: 300;
  font-family: 'Open Sans';
}
.tick text {
  font-weight: 300;
}
.tick line {
    fill: none;
    stroke: $gray;
    shape-rendering: crispEdges;
}

/** Map */
#map {
  height: 400px;
  width: 90vw;
  margin: auto;
}
.map-interaction {
  display: inline-block;
  background-color: #fff;
  margin-right: 20px;
  .btn {
    width: 43px;
  }
  .off {
    background-color: #ccc;
  }
}

/** Age & height display bar charts */
.bar-half {
  display: inline-block;
  width: 50%;
  float: left;
  path.domain {
    stroke: none;
  }
}

/** Company and National Bars */
.bar-item {
  margin: 1em 0em;
}

/** Mess filter for visualizations */
.filter-buttons {
  text-align: center;
  margin: .5%;
  .mess-check {
    display: inline-block;
    margin: 0 5px;
  }
  .m1 {
    border-bottom: 4px solid #67001f;
  }
  .m2 {
    border-bottom: 4px solid #b2182b;
  }
  .m3 {
    border-bottom: 4px solid #d6604d;
  }
  .m4 {
    border-bottom: 4px solid #92c5de;
  }
  .m5 {
    border-bottom: 4px solid #4393c3;
  }
  .m6 {
    border-bottom: 4px solid #053061;
  }
  .mess-label {
    font-size: 14px;
    font-weight: 300;
    padding: 0 3px;
    margin-bottom: 0;
  }
  .color-key {
      display: inline-block;
      height: 25px;
      width: 25px;
      vertical-align: middle;
  }
  .btn {
    margin: 0 0 2px 0;
  }
  .btn:focus {
    outline: none;
  }
  .filter-label {
    display: inline-block;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 300;
  }
}

/** D3 tip overrides */
.d3-tip {
  font-size: 14px;
  padding: 5px;
  border-radius: 0px;
  font-weight: 300;
}

.d3-tip.n:after {
  margin: -3px 0 0 0;
}

/** Footer */
.footer {
  margin: 1em 0em;
  padding: 1em 0em;
  text-align: center;
  display: block;
  clear: both;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
 
}
