@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,700);
@import url(http://rawgithub.com/Caged/d3-tip/master/examples/example-styles.css);
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alissascheller\/Documents\/meredith\/model-company\/styles\/main\.scss}line{font-family:\000037}}
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alissascheller\/Documents\/meredith\/model-company\/styles\/main\.scss}line{font-family:\0000314}}
body {
  font-size: 16px;
  font-family: "Open Sans", "san serif", "Ariel";
  color: #424242;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alissascheller\/Documents\/meredith\/model-company\/styles\/main\.scss}line{font-family:\0000320}}
.container-fluid {
  padding-left: 2px;
  padding-right: 2px;
}

/* Header */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alissascheller\/Documents\/meredith\/model-company\/styles\/main\.scss}line{font-family:\0000326}}
.header {
  border-bottom: 1px solid #e5e5e5;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alissascheller\/Documents\/meredith\/model-company\/styles\/main\.scss}line{font-family:\0000329}}
.header .header-title {
  font-family: "League Gothic", "Ariel", "san serif";
  font-size: 4em;
  text-transform: uppercase;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alissascheller\/Documents\/meredith\/model-company\/styles\/main\.scss}line{font-family:\0000334}}
.header .header-sub {
  font-size: 1em;
}

/** General styling for information display sections */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alissascheller\/Documents\/meredith\/model-company\/styles\/main\.scss}line{font-family:\0000340}}
.text {
  padding: 0.5em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alissascheller\/Documents\/meredith\/model-company\/styles\/main\.scss}line{font-family:\0000342}}
.text .section-header {
  font-size: 2em;
  font-family: "League Gothic";
  width: 100%;
  text-align: center;
  margin: 2% 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alissascheller\/Documents\/meredith\/model-company\/styles\/main\.scss}line{font-family:\0000350}}
.visual {
  margin: 0.5em 0em;
  padding: 0em 0em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alissascheller\/Documents\/meredith\/model-company\/styles\/main\.scss}line{font-family:\0000353}}
.visual .lbl {
  font-family: "League Gothic";
  font-size: 1.6em;
  text-transform: uppercase;
  margin-bottom: 0.5em;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alissascheller\/Documents\/meredith\/model-company\/styles\/main\.scss}line{font-family:\0000360}}
.visual .lbl-sm {
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alissascheller\/Documents\/meredith\/model-company\/styles\/main\.scss}line{font-family:\0000366}}
.visual .lbl-xs {
  font-size: 10px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alissascheller\/Documents\/meredith\/model-company\/styles\/main\.scss}line{font-family:\0000372}}
.visual .item {
  display: inline-block;
}

/** Visualization specific styles */
/** General Overrides */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alissascheller\/Documents\/meredith\/model-company\/styles\/main\.scss}line{font-family:\0000380}}
text {
  font-size: 10px;
  font-weight: 300;
  font-family: 'Open Sans';
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alissascheller\/Documents\/meredith\/model-company\/styles\/main\.scss}line{font-family:\0000385}}
.tick text {
  font-weight: 300;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alissascheller\/Documents\/meredith\/model-company\/styles\/main\.scss}line{font-family:\0000388}}
.tick line {
  fill: none;
  stroke: #e5e8ec;
  shape-rendering: crispEdges;
}

/** Map */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alissascheller\/Documents\/meredith\/model-company\/styles\/main\.scss}line{font-family:\0000395}}
#map {
  height: 400px;
  width: 90vw;
  margin: auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alissascheller\/Documents\/meredith\/model-company\/styles\/main\.scss}line{font-family:\00003100}}
.map-interaction {
  display: inline-block;
  background-color: #fff;
  margin-right: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alissascheller\/Documents\/meredith\/model-company\/styles\/main\.scss}line{font-family:\00003104}}
.map-interaction .btn {
  width: 43px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alissascheller\/Documents\/meredith\/model-company\/styles\/main\.scss}line{font-family:\00003107}}
.map-interaction .off {
  background-color: #ccc;
}

/** Age & height display bar charts */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alissascheller\/Documents\/meredith\/model-company\/styles\/main\.scss}line{font-family:\00003113}}
.bar-half {
  display: block;
  width: 100%;
  float: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alissascheller\/Documents\/meredith\/model-company\/styles\/main\.scss}line{font-family:\00003117}}
.bar-half path.domain {
  stroke: none;
}

/** Company and National Bars */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alissascheller\/Documents\/meredith\/model-company\/styles\/main\.scss}line{font-family:\00003123}}
.bar-item {
  margin: 1em 0em;
}

/** Mess filter for visualizations */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alissascheller\/Documents\/meredith\/model-company\/styles\/main\.scss}line{font-family:\00003128}}
.filter-buttons {
  text-align: center;
  margin: 1em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alissascheller\/Documents\/meredith\/model-company\/styles\/main\.scss}line{font-family:\00003131}}
.filter-buttons .mess-check {
  display: inline-block;
  margin: 0 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alissascheller\/Documents\/meredith\/model-company\/styles\/main\.scss}line{font-family:\00003135}}
.filter-buttons .m1 {
  border-bottom: 4px solid #67001f;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alissascheller\/Documents\/meredith\/model-company\/styles\/main\.scss}line{font-family:\00003138}}
.filter-buttons .m2 {
  border-bottom: 4px solid #b2182b;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alissascheller\/Documents\/meredith\/model-company\/styles\/main\.scss}line{font-family:\00003141}}
.filter-buttons .m3 {
  border-bottom: 4px solid #d6604d;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alissascheller\/Documents\/meredith\/model-company\/styles\/main\.scss}line{font-family:\00003144}}
.filter-buttons .m4 {
  border-bottom: 4px solid #92c5de;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alissascheller\/Documents\/meredith\/model-company\/styles\/main\.scss}line{font-family:\00003147}}
.filter-buttons .m5 {
  border-bottom: 4px solid #4393c3;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alissascheller\/Documents\/meredith\/model-company\/styles\/main\.scss}line{font-family:\00003150}}
.filter-buttons .m6 {
  border-bottom: 4px solid #053061;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alissascheller\/Documents\/meredith\/model-company\/styles\/main\.scss}line{font-family:\00003153}}
.filter-buttons .mess-label {
  font-size: 14px;
  font-weight: 300;
  padding: 0 3px;
  margin-bottom: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alissascheller\/Documents\/meredith\/model-company\/styles\/main\.scss}line{font-family:\00003159}}
.filter-buttons .color-key {
  display: inline-block;
  height: 25px;
  width: 25px;
  vertical-align: middle;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alissascheller\/Documents\/meredith\/model-company\/styles\/main\.scss}line{font-family:\00003165}}
.filter-buttons .btn {
  margin: 0 0 2px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alissascheller\/Documents\/meredith\/model-company\/styles\/main\.scss}line{font-family:\00003168}}
.filter-buttons .btn:focus {
  outline: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alissascheller\/Documents\/meredith\/model-company\/styles\/main\.scss}line{font-family:\00003171}}
.filter-buttons .filter-label {
  display: inline-block;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 300;
}

/** D3 tip overrides */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alissascheller\/Documents\/meredith\/model-company\/styles\/main\.scss}line{font-family:\00003180}}
.d3-tip {
  font-size: 14px;
  padding: 5px;
  border-radius: 0px;
  font-weight: 300;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alissascheller\/Documents\/meredith\/model-company\/styles\/main\.scss}line{font-family:\00003187}}
.d3-tip.n:after {
  margin: -3px 0 0 0;
}

/** Footer */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alissascheller\/Documents\/meredith\/model-company\/styles\/main\.scss}line{font-family:\00003192}}
.footer {
  margin: 1em 0em;
  padding: 1em 0em;
  text-align: center;
  display: block;
  clear: both;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /** General Overrides */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alissascheller\/Documents\/meredith\/model-company\/styles\/main\.scss}line{font-family:\00003204}}
  text {
    font-size: 14px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alissascheller\/Documents\/meredith\/model-company\/styles\/main\.scss}line{font-family:\00003208}}
  .container-fluid {
    padding-left: 15px;
    padding-right: 15px;
  }

  /** General styling for information display sections */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alissascheller\/Documents\/meredith\/model-company\/styles\/main\.scss}line{font-family:\00003214}}
  .text {
    padding: 2em 4em;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alissascheller\/Documents\/meredith\/model-company\/styles\/main\.scss}line{font-family:\00003217}}
  .visual {
    margin: 1em 0em;
    padding: 1em 0em;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alissascheller\/Documents\/meredith\/model-company\/styles\/main\.scss}line{font-family:\00003220}}
  .visual .lbl-sm {
    font-size: 14px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alissascheller\/Documents\/meredith\/model-company\/styles\/main\.scss}line{font-family:\00003223}}
  .visual .lbl-xs {
    font-size: 12px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alissascheller\/Documents\/meredith\/model-company\/styles\/main\.scss}line{font-family:\00003227}}
  .filter-buttons {
    margin: .5%;
  }

  /** Age & height display bar charts */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alissascheller\/Documents\/meredith\/model-company\/styles\/main\.scss}line{font-family:\00003231}}
  .bar-half {
    display: inline-block;
    width: 50%;
    float: left;
  }
}
