@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,700);
@import url(http://rawgithub.com/Caged/d3-tip/master/examples/example-styles.css);
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/Documents\/stuff\/model-company\/styles\/main\.scss}line{font-family:\000037}}
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/Documents\/stuff\/model-company\/styles\/main\.scss}line{font-family:\0000314}}
html {
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/Documents\/stuff\/model-company\/styles\/main\.scss}line{font-family:\0000318}}
body {
  font-size: 16px;
  font-family: "Open Sans", "san serif", "Ariel";
  color: #424242;
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/Documents\/stuff\/model-company\/styles\/main\.scss}line{font-family:\0000325}}
p {
  margin: 8% 0 0 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/Documents\/stuff\/model-company\/styles\/main\.scss}line{font-family:\0000329}}
a {
  color: #64889C;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/Documents\/stuff\/model-company\/styles\/main\.scss}line{font-family:\0000333}}
.row {
  margin: 0;
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/Documents\/stuff\/model-company\/styles\/main\.scss}line{font-family:\0000338}}
.splash {
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/Documents\/stuff\/model-company\/styles\/main\.scss}line{font-family:\0000342}}
.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}

/* Header http://www.loc.gov/pictures/resource/ppmsca.34552/?co=cwp */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/Documents\/stuff\/model-company\/styles\/main\.scss}line{font-family:\0000348}}
.header {
  position: absolute;
  top: 5%;
  left: 0;
  right: 0;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/Documents\/stuff\/model-company\/styles\/main\.scss}line{font-family:\0000354}}
.header .header-title {
  font-family: "League Gothic", "Ariel", "san serif";
  font-size: 2em;
  text-transform: uppercase;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/Documents\/stuff\/model-company\/styles\/main\.scss}line{font-family:\0000359}}
.header .header-sub {
  font-size: 0.7em;
}

/** General styling for information display sections */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/Documents\/stuff\/model-company\/styles\/main\.scss}line{font-family:\0000365}}
.intro {
  margin: 7% auto 0 auto !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/Documents\/stuff\/model-company\/styles\/main\.scss}line{font-family:\0000368}}
.text {
  padding: 0 10px;
  font-size: 14px;
  width: 100%;
  margin: 7% auto;
  max-width: 800px;
  line-height: 200%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/Documents\/stuff\/model-company\/styles\/main\.scss}line{font-family:\0000375}}
.text .section-header {
  font-size: 2em;
  font-family: "League Gothic";
  width: 100%;
  text-align: center;
  margin: 2% 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/Documents\/stuff\/model-company\/styles\/main\.scss}line{font-family:\0000383}}
.visual {
  padding: 0 !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/Documents\/stuff\/model-company\/styles\/main\.scss}line{font-family:\0000385}}
.visual .lbl {
  font-family: "League Gothic";
  font-size: 1.6em;
  text-transform: uppercase;
  margin-bottom: 7%;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/Documents\/stuff\/model-company\/styles\/main\.scss}line{font-family:\0000393}}
.visual .lbl-sm {
  font-size: 10px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/Documents\/stuff\/model-company\/styles\/main\.scss}line{font-family:\0000399}}
.visual .lbl-xs {
  font-size: 10px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/Documents\/stuff\/model-company\/styles\/main\.scss}line{font-family:\00003105}}
.visual .lower {
  text-transform: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/Documents\/stuff\/model-company\/styles\/main\.scss}line{font-family:\00003108}}
.visual .item {
  display: inline-block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/Documents\/stuff\/model-company\/styles\/main\.scss}line{font-family:\00003112}}
.picture {
  width: 100%;
  overflow: hidden;
  padding-top: 7%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/Documents\/stuff\/model-company\/styles\/main\.scss}line{font-family:\00003117}}
.picture-centered {
  clear: both;
  text-align: center;
  width: 100%;
  padding-top: 7%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/Documents\/stuff\/model-company\/styles\/main\.scss}line{font-family:\00003122}}
.picture-centered img {
  width: 90%;
  padding: 2% 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/Documents\/stuff\/model-company\/styles\/main\.scss}line{font-family:\00003126}}
.picture-centered .sm {
  width: 90%;
  padding: 2% 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/Documents\/stuff\/model-company\/styles\/main\.scss}line{font-family:\00003131}}
.picture-caption {
  clear: both;
  width: 99%;
  margin: 0 auto;
  text-align: left;
  padding: 5px;
  font-size: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/Documents\/stuff\/model-company\/styles\/main\.scss}line{font-family:\00003138}}
.picture-caption .source {
  font-weight: 300;
  float: right;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/Documents\/stuff\/model-company\/styles\/main\.scss}line{font-family:\00003142}}
.picture-caption.centered {
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/Documents\/stuff\/model-company\/styles\/main\.scss}line{font-family:\00003144}}
.picture-caption.centered .source {
  display: block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/Documents\/stuff\/model-company\/styles\/main\.scss}line{font-family:\00003148}}
.picture-caption.desktop {
  display: none;
  width: 75%;
  margin-left: 11%;
  margin-top: 5%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/Documents\/stuff\/model-company\/styles\/main\.scss}line{font-family:\00003154}}
.picture-caption.mobile {
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/Documents\/stuff\/model-company\/styles\/main\.scss}line{font-family:\00003158}}
.roster {
  width: 95%;
  margin: 7% auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/Documents\/stuff\/model-company\/styles\/main\.scss}line{font-family:\00003163}}
.dropcap {
  display: block;
  color: #5c5c5c;
  font-weight: 700;
  float: left;
  font-size: 63px;
  margin-right: 6px;
  height: 45px;
  margin-top: 11px;
}

/** Visualization specific styles */
/** General Overrides */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/Documents\/stuff\/model-company\/styles\/main\.scss}line{font-family:\00003177}}
text {
  font-size: 10px;
  font-weight: 300;
  font-family: 'Open Sans';
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/Documents\/stuff\/model-company\/styles\/main\.scss}line{font-family:\00003182}}
.tick text {
  font-weight: 300;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/Documents\/stuff\/model-company\/styles\/main\.scss}line{font-family:\00003185}}
.tick line {
  fill: none;
  stroke: #e5e8ec;
  shape-rendering: crispEdges;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/Documents\/stuff\/model-company\/styles\/main\.scss}line{font-family:\00003191}}
.key {
  padding: 0.5em 0;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/Documents\/stuff\/model-company\/styles\/main\.scss}line{font-family:\00003194}}
.key div {
  display: inline-block;
  vertical-align: middle;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/Documents\/stuff\/model-company\/styles\/main\.scss}line{font-family:\00003198}}
.key .national {
  width: 20px;
  height: 20px;
  margin: 0px 5px;
  background: #053061;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/Documents\/stuff\/model-company\/styles\/main\.scss}line{font-family:\00003204}}
.key .company {
  width: 20px;
  height: 20px;
  margin: 0px 5px;
  background: #b2182b;
}

/** Map */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/Documents\/stuff\/model-company\/styles\/main\.scss}line{font-family:\00003212}}
#map {
  height: 400px;
  width: 100vw;
  margin: auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/Documents\/stuff\/model-company\/styles\/main\.scss}line{font-family:\00003217}}
.map-interaction {
  display: inline-block;
  background-color: #fff;
  margin-right: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/Documents\/stuff\/model-company\/styles\/main\.scss}line{font-family:\00003221}}
.map-interaction .btn {
  width: 43px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/Documents\/stuff\/model-company\/styles\/main\.scss}line{font-family:\00003224}}
.map-interaction .off {
  background-color: #ccc;
}

/** Age & height display bar charts */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/Documents\/stuff\/model-company\/styles\/main\.scss}line{font-family:\00003230}}
.bar-half {
  display: block;
  width: 100%;
  float: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/Documents\/stuff\/model-company\/styles\/main\.scss}line{font-family:\00003234}}
.bar-half path.domain {
  stroke: none;
}

/** Company and National Bars */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/Documents\/stuff\/model-company\/styles\/main\.scss}line{font-family:\00003240}}
.bar-item {
  margin: 1em 0em;
}

/** Roster section */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/Documents\/stuff\/model-company\/styles\/main\.scss}line{font-family:\00003246}}
.roster .table {
  width: 100%;
  font-size: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/Documents\/stuff\/model-company\/styles\/main\.scss}line{font-family:\00003250}}
.roster .table-desktop {
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/Documents\/stuff\/model-company\/styles\/main\.scss}line{font-family:\00003253}}
.roster .table-mobile {
  display: block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/Documents\/stuff\/model-company\/styles\/main\.scss}line{font-family:\00003256}}
.roster .lbl-sm {
  padding: 8px;
  text-align: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/Documents\/stuff\/model-company\/styles\/main\.scss}line{font-family:\00003260}}
.roster .soldier {
  padding: 0.5em;
  width: 100vw;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/Documents\/stuff\/model-company\/styles\/main\.scss}line{font-family:\00003264}}
.roster .kia {
  color: #67001f;
  font-weight: 700;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/Documents\/stuff\/model-company\/styles\/main\.scss}line{font-family:\00003268}}
.roster .died {
  color: #b2182b;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/Documents\/stuff\/model-company\/styles\/main\.scss}line{font-family:\00003271}}
.roster .wounded {
  color: #d6604d;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/Documents\/stuff\/model-company\/styles\/main\.scss}line{font-family:\00003274}}
.roster .missing {
  color: #f4a582;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/Documents\/stuff\/model-company\/styles\/main\.scss}line{font-family:\00003280}}
.roster .out {
  font-size: 0.8em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/Documents\/stuff\/model-company\/styles\/main\.scss}line{font-family:\00003283}}
.roster .st-sort-ascent:after {
  content: '\25B2';
  font-size: 10px;
  padding-left: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/Documents\/stuff\/model-company\/styles\/main\.scss}line{font-family:\00003289}}
.roster .st-sort-descent:after {
  content: '\25BC';
  font-size: 10px;
  padding-left: 5px;
}

/** Mess filter for visualizations */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/Documents\/stuff\/model-company\/styles\/main\.scss}line{font-family:\00003297}}
.filter-buttons {
  text-align: center;
  margin: 1em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/Documents\/stuff\/model-company\/styles\/main\.scss}line{font-family:\00003300}}
.filter-buttons .mess-check {
  display: inline-block;
  margin: 0 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/Documents\/stuff\/model-company\/styles\/main\.scss}line{font-family:\00003304}}
.filter-buttons .m1 {
  border-bottom: 4px solid #67001f;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/Documents\/stuff\/model-company\/styles\/main\.scss}line{font-family:\00003307}}
.filter-buttons .m2 {
  border-bottom: 4px solid #b2182b;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/Documents\/stuff\/model-company\/styles\/main\.scss}line{font-family:\00003310}}
.filter-buttons .m3 {
  border-bottom: 4px solid #d6604d;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/Documents\/stuff\/model-company\/styles\/main\.scss}line{font-family:\00003313}}
.filter-buttons .m4 {
  border-bottom: 4px solid #92c5de;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/Documents\/stuff\/model-company\/styles\/main\.scss}line{font-family:\00003316}}
.filter-buttons .m5 {
  border-bottom: 4px solid #4393c3;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/Documents\/stuff\/model-company\/styles\/main\.scss}line{font-family:\00003319}}
.filter-buttons .m6 {
  border-bottom: 4px solid #053061;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/Documents\/stuff\/model-company\/styles\/main\.scss}line{font-family:\00003322}}
.filter-buttons .mess-label {
  font-size: 14px;
  font-weight: 300;
  padding: 0 3px;
  margin-bottom: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/Documents\/stuff\/model-company\/styles\/main\.scss}line{font-family:\00003328}}
.filter-buttons .color-key {
  display: inline-block;
  height: 25px;
  width: 25px;
  vertical-align: middle;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/Documents\/stuff\/model-company\/styles\/main\.scss}line{font-family:\00003334}}
.filter-buttons .btn {
  margin: 0 0 2px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/Documents\/stuff\/model-company\/styles\/main\.scss}line{font-family:\00003337}}
.filter-buttons .btn:focus {
  outline: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/Documents\/stuff\/model-company\/styles\/main\.scss}line{font-family:\00003340}}
.filter-buttons .filter-label {
  display: inline-block;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 300;
}

/** D3 tip overrides */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/Documents\/stuff\/model-company\/styles\/main\.scss}line{font-family:\00003349}}
.d3-tip {
  font-size: 14px;
  padding: 5px;
  border-radius: 0px;
  font-weight: 300;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/Documents\/stuff\/model-company\/styles\/main\.scss}line{font-family:\00003356}}
.d3-tip.n:after {
  margin: -3px 0 0 0;
}

/** Footer */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/Documents\/stuff\/model-company\/styles\/main\.scss}line{font-family:\00003361}}
.footer {
  margin: 1em 0em;
  padding: 1em 0em;
  text-align: center;
  display: block;
  clear: both;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/Documents\/stuff\/model-company\/styles\/main\.scss}line{font-family:\00003371}}
  .header {
    top: 17vh;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/Documents\/stuff\/model-company\/styles\/main\.scss}line{font-family:\00003373}}
  .header .header-title {
    font-size: 4em;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/Documents\/stuff\/model-company\/styles\/main\.scss}line{font-family:\00003376}}
  .header .header-sub {
    font-size: 1em;
  }

  /** General Overrides */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/Documents\/stuff\/model-company\/styles\/main\.scss}line{font-family:\00003382}}
  text {
    font-size: 14px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/Documents\/stuff\/model-company\/styles\/main\.scss}line{font-family:\00003385}}
  .dropcap {
    font-size: 115px;
    margin-right: 6px;
    height: 60px;
    margin-top: 30px;
  }

  /** General styling for information display sections */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/Documents\/stuff\/model-company\/styles\/main\.scss}line{font-family:\00003393}}
  .roster .table {
    font-size: 14px;
    width: 100% !important;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/Documents\/stuff\/model-company\/styles\/main\.scss}line{font-family:\00003397}}
  .roster .table-desktop {
    display: block;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/Documents\/stuff\/model-company\/styles\/main\.scss}line{font-family:\00003400}}
  .roster .table-mobile {
    display: none;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/Documents\/stuff\/model-company\/styles\/main\.scss}line{font-family:\00003404}}
  .text {
    width: 95%;
    margin: 7% auto;
    max-width: 800px;
    font-size: 16px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/Documents\/stuff\/model-company\/styles\/main\.scss}line{font-family:\00003410}}
  .visual {
    padding: 0 !important;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/Documents\/stuff\/model-company\/styles\/main\.scss}line{font-family:\00003412}}
  .visual .lbl-sm {
    font-size: 14px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/Documents\/stuff\/model-company\/styles\/main\.scss}line{font-family:\00003415}}
  .visual .lbl-xs {
    font-size: 12px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/Documents\/stuff\/model-company\/styles\/main\.scss}line{font-family:\00003420}}
  .picture-centered .sm {
    width: 75%;
    padding: 0;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/Documents\/stuff\/model-company\/styles\/main\.scss}line{font-family:\00003425}}
  .picture-caption {
    font-size: 0.8em;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/Documents\/stuff\/model-company\/styles\/main\.scss}line{font-family:\00003427}}
  .picture-caption.desktop {
    display: block;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/Documents\/stuff\/model-company\/styles\/main\.scss}line{font-family:\00003430}}
  .picture-caption.mobile {
    display: none;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/Documents\/stuff\/model-company\/styles\/main\.scss}line{font-family:\00003434}}
  .filter-buttons {
    margin: .5%;
  }

  /** Age & height display bar charts */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/Documents\/stuff\/model-company\/styles\/main\.scss}line{font-family:\00003439}}
  .bar-half {
    display: inline-block;
    width: 50%;
    float: left;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/Documents\/stuff\/model-company\/styles\/main\.scss}line{font-family:\00003444}}
  #map {
    width: 90vw;
  }
}
