// bower:scss
// endbower
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,700);
@import 'colors';

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

html {
  width: 100%;
}

body {
  font-size: 16px;
  font-family: "Open Sans", "san serif", "Ariel";
  color: #424242;
  width: 100%;
}

p {
  margin: 8% 0 0 0;
}

a {
  color: #64889C;
}

blockquote {
  font-family: 'LindenHill';
}

.row {
  margin: 0;
  width: 100%;
}

.splash {
  width: 100%;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../img/139th_2.jpg');
  background-position: center center;
  @media screen and (max-width: 768px) {
      background-image: url('../img/139th_2_mobile.jpg');
  }
}

.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}

/* Header http://www.loc.gov/pictures/resource/ppmsca.34552/?co=cwp */
.header {
  position: absolute;
  top: 16%;
  left: 0;
  right: 0;
  text-align: center;
  .header-title {
    font-family: "League Gothic", "Ariel", "san serif";
    font-size: 3em;
    text-transform: uppercase;
  }
  .header-sub {
    margin: 0 !important;
    font-size: 0.8em;
  }
}

.header-section {
  position: relative;
  width: 100%;
  text-align: center;
  margin: auto;
  top: auto;
  bottom: 10%;
  .scroll-arrow {
    display: block;
    width: 100%;
    position: absolute;
    bottom: 10%;
      .arrow {
          background-image: url('../img/arrow.svg');
          background-repeat: no-repeat;
          background-position: top center;
          height: 35px;
          width: 70px;
          margin: auto;
      }
  }
}
/** General styling for information display sections */
.intro {
  margin: 7% auto 0 auto !important;
}
.text {
  padding: 0 10px;
  font-size: 14px;
  width: 100%;
  margin: 7% auto;
  max-width: 800px;
  line-height: 200%;
  .section-header {
    font-size: 2em;
    font-family: "League Gothic";
    width: 100%;
    text-align: center;
    margin: 2% 0;
  }
}
.visual {
  padding: 0 !important;
  .lbl {
    font-family: "League Gothic";
    font-size: 1.6em;
    text-transform: uppercase;
    margin-bottom: 7%;

    text-align: center;
  }
  .lbl-sm {
    font-size: 10px;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
  }
  .lbl-xs {
    font-size: 10px;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
  }
  .lower {
    text-transform: none;
  }
  .item {
    display: inline-block;
    .lbl {
      margin-bottom: 2%;
      font: 800 1em "Open Sans";
    }
  }
}
.picture {
  width: 100%;
  height: auto;
  overflow: hidden;
  padding-top: 7%;
}
.picture-centered {
  clear: both;
  text-align: center;
  width: 100%;
  height: auto;
  padding-top: 7%;
  img {
    width: 90%;
    padding: 2% 0;
  }
  .sm {
    width: 90%;
    padding: 2% 0;
  }
}
.picture-caption {
  clear: both;
  width: 99%;
  margin: 0 auto;
  text-align: left;
  padding: 5px;
  font-size: 10px;
  line-height: 1.42857143 !important;
  .source {
    font-weight: 300;
    float: right;
  }
  &.centered {
    text-align: center;
    .source {
      display: block;
    }
  }
  &.desktop {
    display: none;
    margin-top: 5%;
  }
  &.mobile {
    display: block;
  }
}
.roster {
  width: 95%;
  margin: 7% auto;
}

.dropcap  {
  display: block;
  color: #5c5c5c;
  font-weight: 700;
  float: left;  
  font-size: 63px;
  margin-right: 6px;
  height: 45px;
  margin-top: 11px;
}

/** Visualization specific styles */

/** General Overrides */
text {
  font-size: 10px;
  font-weight: 300;
  font-family: 'Open Sans';
}
.tick text {
  font-weight: 300;
}
.tick line {
    fill: none;
    stroke: $gray;
    shape-rendering: crispEdges;
}
.sources p {
  font-size: 0.9em;
  margin: 0 0 10px;
}
.quote {
  font-size: 0.8em;
  margin: 1em auto;
  width: 70%;
}
.key {
  padding: 0.5em 0;
  text-align: center;
  div {
    display: inline-block;
    vertical-align: middle;
  }
  .national {
    width: 20px;
    height: 20px;
    margin: 0px 5px;
    background: #053061;
  }
  .company {
    width: 20px;
    height: 20px;
    margin: 0px 5px;
    background: #b2182b;
  }
}
/** Map */
#map {
  height: 50vh;
  width: 100vw;
  margin: auto;
}
.map-interaction {
  display: inline-block;
  background-color: #fff;
  margin-right: 20px;
  .btn {
    width: 43px;
  }
  .off {
    background-color: #ccc;
  }
}

/** Age & height display bar charts */
.bar-half {
  display: block;
  width: 100%;
  float: none;
  path.domain {
    stroke: none;
    fill: none;
  }
}

/** Company and National Bars */
.bar-item {
  margin: 1em 0em;
}

/** Roster section */
.roster {
  .table {
    width: 100%;
    font-size: 10px;
  }
  .table-desktop {
    display: none;
  }
  .table-mobile {
    display: block;
  }
  .lbl-sm {
    padding: 8px;
    text-align: left;
  }
  .soldier {
    padding: 0.5em;
    width: 100vw;
  }
  .kia {
    color: #67001f;
    font-weight: 700;
  }
  .died {
    color: #b2182b;
  }
  .wounded {
    color: #d6604d;
  }
  .missing {
    color: #f4a582;
  }
  .name {

  }
  .out {
    font-size: 0.8em;
  }
  .st-sort-ascent:after{
    content: '\25B2';
    font-size: 10px;
    padding-left: 5px;
  }

  .st-sort-descent:after{
      content: '\25BC';
      font-size: 10px;
      padding-left: 5px;
  }
}

/** Mess filter for visualizations */
.filter-buttons {
  text-align: center;
  margin: 1em;
  .mess-check {
    display: inline-block;
    margin: 0 5px;
  }
  .m1 {
    border-bottom: 4px solid #67001f;
  }
  .m2 {
    border-bottom: 4px solid #b2182b;
  }
  .m3 {
    border-bottom: 4px solid #d6604d;
  }
  .m4 {
    border-bottom: 4px solid #92c5de;
  }
  .m5 {
    border-bottom: 4px solid #4393c3;
  }
  .m6 {
    border-bottom: 4px solid #053061;
  }
  .mess-label {
    font-size: 14px;
    font-weight: 300;
    padding: 0 3px;
    margin-bottom: 0;
  }
  .color-key {
      display: inline-block;
      height: 25px;
      width: 25px;
      vertical-align: middle;
  }
  .btn {
    margin: 0 0 2px 0;
  }
  .btn:focus {
    outline: none;
  }
  .filter-label {
    display: inline-block;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
  }
}

/** D3 tip overrides */
.d3-tip {
  font-size: 14px;
  padding: 5px;
  border-radius: 0px;
  font-weight: 300;
}

.d3-tip.n:after {
  margin: -3px 0 0 0;
}

/** Footer */
.footer {
  margin: 1em 0em;
  padding: 1em 0em;
  text-align: center;
  display: block;
  clear: both;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .header {
        top: 17vh;
        .header-title {
            font-size: 4em;
        }
        .header-sub {
            font-size: 1em;
        }
    }

    /** General Overrides */
    
    text {
        font-size: 14px;
    }
    .dropcap {
      font-size: 115px;
      margin-right: 6px;
      height: 60px;
      margin-top: 30px;
    }
    /** General styling for information display sections */
    .roster {
      .table {
        font-size: 14px;
        width: 100% !important;
      }
      .table-desktop {
          display: block;
      }
      .table-mobile {
          display: none;
      }
    }
    .text {
        width: 95%;
        margin: 7% auto;
        max-width: 800px;
        font-size: 16px;
    }
    .visual {
        padding: 0 !important;
        .lbl-sm {
            font-size: 14px;
        }
        .lbl-xs {
            font-size: 12px;
        }
    }
    .picture-centered {
        .sm {
            width: 75%;
            padding: 0;
        }
    }
    .picture-caption {
        font-size: 0.8em;
        line-height: 1.42857143 !important;
        &.desktop {
            display: block;
        }
        &.mobile {
            display: none;
        }
    }
    .filter-buttons {
        margin: .5%;
    }
    /** Age & height display bar charts */
    
    .bar-half {
        display: inline-block;
        width: 50%;
        float: left;
    }
    #map {
        width: 90vw;
    }
}

.d3-tip {
  line-height: 1;
  font-weight: 300;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
  pointer-events: none;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  position: absolute;
  pointer-events: none;
}

/* Northward tooltips */
.d3-tip.n:after {
  content: "\25BC";
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
  text-align: center;
}

/* Eastward tooltips */
.d3-tip.e:after {
  content: "\25C0";
  margin: -4px 0 0 0;
  top: 50%;
  left: -8px;
}

/* Southward tooltips */
.d3-tip.s:after {
  content: "\25B2";
  margin: 0 0 1px 0;
  top: -8px;
  left: 0;
  text-align: center;
}

/* Westward tooltips */
.d3-tip.w:after {
  content: "\25B6";
  margin: -4px 0 0 -1px;
  top: 50%;
  left: 100%;
}

