@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,700);
@import url(http://rawgithub.com/Caged/d3-tip/master/examples/example-styles.css);
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/myers\/Projects\/model-company\/styles\/main\.scss}line{font-family:\000037}}
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/myers\/Projects\/model-company\/styles\/main\.scss}line{font-family:\0000315}}
body {
  font-size: 16px;
  font-family: "Open Sans", "san serif", "Ariel";
  color: #503a25;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/myers\/Projects\/model-company\/styles\/main\.scss}line{font-family:\0000324}}
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/myers\/Projects\/model-company\/styles\/main\.scss}line{font-family:\0000330}}
.header {
  border-bottom: 1px solid #e5e5e5;
  text-align: center;
  /* Make the masthead heading the same height as the navigation */
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/myers\/Projects\/model-company\/styles\/main\.scss}line{font-family:\0000333}}
.header .header-title {
  font-family: "League Gothic", "Ariel", "san serif";
  font-size: 4em;
  text-transform: uppercase;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/myers\/Projects\/model-company\/styles\/main\.scss}line{font-family:\0000338}}
.header .header-sub {
  font-family: "LindenHill";
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/myers\/Projects\/model-company\/styles\/main\.scss}line{font-family:\0000343}}
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/myers\/Projects\/model-company\/styles\/main\.scss}line{font-family:\0000350}}
.left, .right {
  display: inline-block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/myers\/Projects\/model-company\/styles\/main\.scss}line{font-family:\0000353}}
.left {
  float: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/myers\/Projects\/model-company\/styles\/main\.scss}line{font-family:\0000356}}
.right {
  float: right;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/myers\/Projects\/model-company\/styles\/main\.scss}line{font-family:\0000359}}
.section-header {
  font-size: 2em;
  font-family: "League Gothic";
  width: 100%;
  text-align: center;
  margin: 2% 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/myers\/Projects\/model-company\/styles\/main\.scss}line{font-family:\0000366}}
.text {
  padding: 1em 2em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/myers\/Projects\/model-company\/styles\/main\.scss}line{font-family:\0000369}}
.section {
  margin: 2em 0em;
  padding: 1em 0em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/myers\/Projects\/model-company\/styles\/main\.scss}line{font-family:\0000373}}
.visual {
  width: 100%;
  clear: both;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/myers\/Projects\/model-company\/styles\/main\.scss}line{font-family:\0000377}}
.visual .lbl {
  font-family: "League Gothic";
  font-size: 1.2em;
  text-transform: uppercase;
  margin: 0 0 2em 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/myers\/Projects\/model-company\/styles\/main\.scss}line{font-family:\0000383}}
.visual .item {
  display: inline-block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/myers\/Projects\/model-company\/styles\/main\.scss}line{font-family:\0000388}}
#map {
  height: 400px;
  width: 90vw;
  margin: auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/myers\/Projects\/model-company\/styles\/main\.scss}line{font-family:\0000393}}
.map-interaction {
  display: inline-block;
  background-color: #fff;
  margin-right: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/myers\/Projects\/model-company\/styles\/main\.scss}line{font-family:\0000397}}
.map-interaction .btn {
  width: 43px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/myers\/Projects\/model-company\/styles\/main\.scss}line{font-family:\00003100}}
.map-interaction .off {
  background-color: #ccc;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/myers\/Projects\/model-company\/styles\/main\.scss}line{font-family:\00003104}}
.pie {
  height: 300px;
  width: 300px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/myers\/Projects\/model-company\/styles\/main\.scss}line{font-family:\00003108}}
.bar {
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/myers\/Projects\/model-company\/styles\/main\.scss}line{font-family:\00003111}}
.bar-half {
  display: inline-block;
  width: 50%;
  float: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/myers\/Projects\/model-company\/styles\/main\.scss}line{font-family:\00003116}}
.occupation {
  width: 100%;
}

/* Time series */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/myers\/Projects\/model-company\/styles\/main\.scss}line{font-family:\00003120}}
path.domain {
  stroke: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/myers\/Projects\/model-company\/styles\/main\.scss}line{font-family:\00003123}}
.timeline-event {
  stroke: #d0d5d5;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/myers\/Projects\/model-company\/styles\/main\.scss}line{font-family:\00003127}}
.filter-buttons {
  margin: .5%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/myers\/Projects\/model-company\/styles\/main\.scss}line{font-family:\00003129}}
.filter-buttons .mess-check {
  display: inline-block;
  margin: 0 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/myers\/Projects\/model-company\/styles\/main\.scss}line{font-family:\00003133}}
.filter-buttons .m1 {
  border-bottom: 4px solid #67001f;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/myers\/Projects\/model-company\/styles\/main\.scss}line{font-family:\00003136}}
.filter-buttons .m2 {
  border-bottom: 4px solid #b2182b;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/myers\/Projects\/model-company\/styles\/main\.scss}line{font-family:\00003139}}
.filter-buttons .m3 {
  border-bottom: 4px solid #d6604d;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/myers\/Projects\/model-company\/styles\/main\.scss}line{font-family:\00003142}}
.filter-buttons .m4 {
  border-bottom: 4px solid #92c5de;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/myers\/Projects\/model-company\/styles\/main\.scss}line{font-family:\00003145}}
.filter-buttons .m5 {
  border-bottom: 4px solid #4393c3;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/myers\/Projects\/model-company\/styles\/main\.scss}line{font-family:\00003148}}
.filter-buttons .m6 {
  border-bottom: 4px solid #053061;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/myers\/Projects\/model-company\/styles\/main\.scss}line{font-family:\00003151}}
.filter-buttons .mess-label {
  font-size: 14px;
  font-weight: 300;
  padding: 0 3px;
  margin-bottom: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/myers\/Projects\/model-company\/styles\/main\.scss}line{font-family:\00003157}}
.filter-buttons .color-key {
  display: inline-block;
  height: 25px;
  width: 25px;
  vertical-align: middle;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/myers\/Projects\/model-company\/styles\/main\.scss}line{font-family:\00003163}}
.filter-buttons .btn {
  margin: 0 0 2px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/myers\/Projects\/model-company\/styles\/main\.scss}line{font-family:\00003166}}
.filter-buttons .btn:focus {
  outline: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/myers\/Projects\/model-company\/styles\/main\.scss}line{font-family:\00003170}}
.filter-buttons .filter-label {
  display: inline-block;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 300;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/myers\/Projects\/model-company\/styles\/main\.scss}line{font-family:\00003178}}
.d3-tip {
  font-size: 14px;
  padding: 5px;
  border-radius: 0px;
  font-weight: 300;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/myers\/Projects\/model-company\/styles\/main\.scss}line{font-family:\00003185}}
text {
  font-size: 14px;
  font-weight: 300;
  font-family: 'Open Sans';
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/myers\/Projects\/model-company\/styles\/main\.scss}line{font-family:\00003190}}
.tick text {
  font-weight: 300;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/myers\/Projects\/model-company\/styles\/main\.scss}line{font-family:\00003193}}
.tick line {
  fill: none;
  stroke: #e5e8ec;
  shape-rendering: crispEdges;
}

/* Custom page footer */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/myers\/Projects\/model-company\/styles\/main\.scss}line{font-family:\00003200}}
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/myers\/Projects\/model-company\/styles\/main\.scss}line{font-family:\00003206}}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/myers\/Projects\/model-company\/styles\/main\.scss}line{font-family:\00003211}}
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/myers\/Projects\/model-company\/styles\/main\.scss}line{font-family:\00003215}}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/myers\/Projects\/model-company\/styles\/main\.scss}line{font-family:\00003222}}
.marketing {
  margin: 40px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/myers\/Projects\/model-company\/styles\/main\.scss}line{font-family:\00003225}}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/myers\/Projects\/model-company\/styles\/main\.scss}line{font-family:\00003232}}
  .ctr {
    width: 95%;
    margin: auto;
  }

  /* Remove the padding we set earlier */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/myers\/Projects\/model-company\/styles\/main\.scss}line{font-family:\00003240}}
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/myers\/Projects\/model-company\/styles\/main\.scss}line{font-family:\00003245}}
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/myers\/Projects\/model-company\/styles\/main\.scss}line{font-family:\00003249}}
  .jumbotron {
    border-bottom: 0;
  }
}
